# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Output
captures/
output/

# Other
other_photos/
random assets/
photo_filter_inspo/
later_setup.txt
EDSDK.dll
test_capture.jpg

# Logs
*.log

# Environment
.env